[user]
	name = Viktor Liu
	email = vma@randomcrap.eu
[core]
	editor = vim
[pull]
	rebase = true
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
